html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin:0;
    padding:0;
}

.bg-img-index{
    background-image: url("/kanjuruhan/images/kanjuruhan2.jpg");
}

.bg-img-about{
    background: #6b21a8;
}

#container {
    min-height:100%;
    position:relative;
}
#header {

}
#main {
    /* sesuaikan dengan tinggi footer */
    padding-bottom: 192px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:192px;   /* tinggi dari footer */
}

.paragraph{
    text-align: justify;
    text-justify: inter-word;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

